#caption{
    font-size: 7vh;
    font-weight: bold;
    font-variant: small-caps; 
    
}

header{
    height: 12vh;
    padding-top: 1vh;
    box-sizing: border-box;
    text-align: center;
    color: white;
}

button{
    width: 10vw;
    height: 10vh;
    position: fixed;
    top: 20vh;
    left: 45vw;
    font-size: 3vh;
}

