#caption{
    font-size: 8vh;
    font-weight: bold;
    font-variant: small-caps;
    color: white;
    margin-top: 2vh;
    text-align: center;
}

header{
    height: 15vh;
}

body{
    overflow: hidden;
}

h1{
    font-family: Calibri;
    position: fixed;
    top: 15vh;
    float: left;
    background-color: #2c2c2c;
    border: 2vh solid #2c2c2c;
    border-radius: 5vh;
}

h1#px{
    font-size: 128px;   
    color: red;
    left: 7vw;
}

h1#em{
    font-size: 8em;
    color: red;
    left: 43vw;
}

h1#prc{
    font-size: 800%;
    color: red;
    left: 72vw;
}

h1#vh{
    font-size: 16vh;
    color: greenyellow;
    top: 40vh;
    left: 25vw;
}

h1#vw{
    font-size: 8vw;
    color: greenyellow;
    top: 40vh;
    left: 56vw;
}